<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="pl.app.cellpost"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <!--<provider android:name="DataProvider"
            android:authorities="pl.app.cellpost.Data"
        />
        -->
        <uses-library android:name="android.test.runner" />
        
        <activity android:name=".CellPostMain"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <!--<action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                --><action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       
        <activity android:name=".Inbox"
                  android:label="@string/inbox">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
                <!--<data android:mimeType="text/html" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" /> 
            --></intent-filter>
        </activity>
        
        <activity android:name=".AccountsConfig"
                  android:label="@string/acc_config">
            <intent-filter>
                <action android:name="pl.app.cellpost.FIRST_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter><!--
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        --></activity><!--
        
        <activity android:name=".AccountChoice"
                  android:label="@string/choose_account_type">
            <intent-filter>
            	<action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    -->
    	
    </application>
    <uses-sdk android:minSdkVersion="3" />
    
    <instrumentation android:name="android.test.InstrumentationTestRunner"
				    android:targetPackage="pl.app.cellpost"
				    android:label="tests" />
</manifest> 