<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="pl.app.cellpost"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <uses-library android:name="android.test.runner" />
        
        <activity android:name=".activities.main.CellPostMain"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
            	<action android:name="pl.app.cellpost.MAIN_SCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activities.accounts.AccountsList"
                  android:label="@string/acc_list"/>
                    
        <activity android:name=".activities.accounts.AccountConfig"
                  android:label="@string/acc_config">
            <intent-filter>
                <action android:name="pl.app.cellpost.ADD_ACCOUNT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activities.emails.MailSender"
                  android:label="@string/mail_send"/>
        
        <activity android:name=".activities.emails.Drafts"
                  android:label="@string/mail_drafts"/>
                  
       	<activity android:name=".activities.emails.Sent"
                  android:label="@string/mail_sent"/>
                  
        <activity android:name=".activities.emails.Inbox"
                  android:label="@string/mail_inbox">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
       		</intent-filter>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="3" />
    
    <instrumentation android:name="android.test.InstrumentationTestRunner"
				    android:targetPackage="pl.app.cellpost"
				    android:label="tests" />
</manifest> 